@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");
@import url("sweetalert.css");
@import url("sweetalert-google.css");

/* START OF MONKEY PATCH */
header .material-icons {
    line-height: 1.75;
}

.mdl-layout__drawer {
    border: none !important;
}
/* END OF MONKEY PATCH */

body {
    background-color: #EEEEEE;
}

.logo {
    height: 75%;
}

.mdl-layout__drawer .mdl-layout-title {
    height: 160px;
    background-color: #212121;
}

.mdl-layout__drawer .mdl-layout-title .logo {
    position: absolute;
    bottom: 16px;
}

.card-wide.mdl-card {
    margin: 15px auto;
    width: 50%;
}

.fix-height {
    padding-top: 100px;
}

.card-signin.mdl-card {
    margin: auto;
    text-align: center;
}

.google-signin {
    width: 75%;
}

.signin-footer {
    background-color: #424242;
}

.signin-logo {
    padding: 10px;
    width: 25%;
    margin: auto;
}

#create-issue {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 10;
}

.page-content {
    position: relative;
    min-height: calc(100% - 180px);
}

.link--no-styling {
    color: inherit;
    text-decoration: none;
}

.text--error {
    color: #B71C1C;
}

.mdl-textfield {
    width: 100%;
}

.card-image.mdl-card {
    width: 256px;
    height: 256px;
}
.card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}
.card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.file-text {
    margin-top: .2em;
}

.fa-stack {
    margin-bottom: 20px;
}

.stacked-icons {
    margin-top: 20px;
    text-align: center;
}

.fa-stack + .fa-stack {
    margin-left: .3em;
}

.fa-stack-text {
    font-size: .5em;
}

.issue-form {
    margin: 0;
    padding: 0;
}

.file_input_div {
    margin: auto;
    width: 100%;
    height: 40px;
    padding: 10px;
}

.file_input {
    float: left;
}

.input_file {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-right: 10px;
}

.files-to-upload {
    margin: 0 10px;
    float: left;
    line-height: 40px;
    vertical-align: middle;
    letter-spacing: 2px;
}

.mdl-tabs__tab {
    width: 100%;
}

.text-align--center {
    text-align: center;
}

@media (min-height: 416px) {
    .mdl-navigation--bottom {
        position: absolute;
        bottom: 16px;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .card-wide.mdl-card {
        width: 90%;
    }
}
