@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("sweetalert.css");

/* START OF MONKEY PATCH */
header .material-icons {
    line-height: 1.75;
}

.mdl-layout__drawer {
    border: none !important;
}
/* END OF MONKEY PATCH */

body {
    background-color: #EEEEEE;
}

.logo {
    height: 75%;
}

.mdl-layout__drawer .mdl-layout-title {
    height: 160px;
    background-color: #212121;
}

.mdl-layout__drawer .mdl-layout-title .logo {
    position: absolute;
    bottom: 16px;
}

.card-wide.mdl-card {
    margin: 15px auto;
    width: 50%;
}

#create-issue {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 10;
}

.page-content {
    position: relative;
    min-height: calc(100% - 180px);
}

.link--no-styling {
    color: inherit;
    text-decoration: none;
}

.text--error {
    color: #B71C1C;
}

.mdl-textfield {
    width: 100%;
}

@media (min-height: 416px) {
    .mdl-navigation--bottom {
        position: absolute;
        bottom: 16px;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .card-wide.mdl-card {
        width: 90%;
    }
}
