@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");
@import url("sweetalert.css");
@import url("sweetalert-google.css");

.letterlist {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    height: calc(100% - 104px);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 0;
}

.letterlist .letter {
    height: 100%;
    transform: scale(0.8);
    transition: all .1s;
}

.letterlist .letter:hover {
    transform: scale(2);
}

/* START OF MONKEY PATCH */
header .material-icons {
    line-height: 1.75;
}

.mdl-layout__drawer {
    border: none !important;
}

.mdl-badge.mdl-badge--overlap:after {
    right: -25px;
}

.mdl-card {
    min-height: 0;
}

.mdl-card__supporting-text {
    width: auto;
}
/* END OF MONKEY PATCH */

body {
    background-color: #EEEEEE;
}

.logo {
    height: 75%;
}

.mdl-layout__drawer .mdl-layout-title {
    height: 160px;
    background-color: #212121;
}

.mdl-layout__drawer .mdl-layout-title .logo {
    position: absolute;
    bottom: 16px;
}

.card-wide.mdl-card {
    margin: auto;
    width: 50%;
}

.card-wide.mdl-card:not(:first-child) {
    margin: 15px auto;
}

.fix-height {
    padding: 100px;
}

.card-signin.mdl-card {
    margin: auto;
    text-align: center;
}

.google-signin {
    width: 75%;
}

.signin-footer {
    background-color: #424242;
}

.signin-logo {
    padding: 10px;
    width: 25%;
    margin: auto;
}

.page-content {
    position: relative;
    min-height: calc(100% - 195px);
    padding-top: 15px;
}

.link--no-styling {
    color: inherit;
    text-decoration: none;
}

.text--error {
    color: #B71C1C;
}

.mdl-textfield {
    width: 100%;
}

.card-image.mdl-card {
    width: 100%;
    min-height: 256px;
}

.card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.file-text {
    margin-top: .2em;
}

.fa-stack {
    margin-bottom: 20px;
}

.stacked-icons {
    margin-top: 20px;
    text-align: center;
}

.fa-stack + .fa-stack {
    margin-left: .3em;
}

.fa-stack-text {
    font-size: .5em;
}

.issue-form {
    margin: 0;
    padding: 0;
}

.file_input_div {
    margin: auto;
    width: 100%;
    height: 40px;
    padding: 10px;
}

.file_input {
    float: left;
}

.input_file {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-right: 10px;
}

.files-to-upload {
    margin: 0 10px;
    float: left;
    line-height: 40px;
    vertical-align: middle;
    letter-spacing: 2px;
}

.mdl-tabs__tab {
    width: 100%;
}

.text-align--center {
    text-align: center;
}

.mdl-mini-footer {
    margin-top: 15px;
}

@media (min-height: 416px) {
    .mdl-navigation--bottom {
        position: absolute;
        bottom: 16px;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .letterlist {
        display: none;
    }

    .card-wide.mdl-card {
        width: 90%;
    }
}

.mdl-button--fab_flinger-container {
    position: fixed;
    right: 35px;
    bottom: 35px;
    z-index: 10;
}

.mdl-button--fab_flinger-container.is-showing-options > button {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    transition: transform 0.1s linear, -webkit-transform 0.1s linear;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.mdl-button--fab_flinger-container.is-not-showing-options > button {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    transition: transform 0.1s linear, -webkit-transform 0.1s linear;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}

.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options, .mdl-button--fab_flinger-container.is-not-showing-options .mdl-button--fab_flinger-options {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}

.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options a {
    display: block;
    -webkit-animation-name: enter;
            animation-name: enter;
    -webkit-animation-duration: 0.1s;
            animation-duration: 0.1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
}

.mdl-button--fab_flinger-container.is-not-showing-options .mdl-button--fab_flinger-options a {
    display: block;
    -webkit-animation-name: exit;
            animation-name: exit;
    -webkit-animation-duration: 0.1s;
            animation-duration: 0.1s;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
}

.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options a:nth-of-type(1), .mdl-button--fab_flinger-container.is-not-showing-options .mdl-button--fab_flinger-options a:nth-of-type(4) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
}

.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options a:nth-of-type(2), .mdl-button--fab_flinger-container.is-not-showing-options .mdl-button--fab_flinger-options a:nth-of-type(3) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}

.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options a:nth-of-type(3), .mdl-button--fab_flinger-container.is-not-showing-options .mdl-button--fab_flinger-options a:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}

.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options a:nth-of-type(4), .mdl-button--fab_flinger-container.is-not-showing-options .mdl-button--fab_flinger-options a:nth-of-type(1) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
}

.mdl-button--fab_flinger-container .mdl-button--fab_flinger-options {
    position: absolute;
    bottom: 100%;
    margin-bottom: 10px;
}

.mdl-button--fab_flinger-container .mdl-button--fab_flinger-options a {
    -webkit-transform: scale(0);
            transform: scale(0);
    display: none;
}

@-webkit-keyframes enter {
    from {
        -webkit-transform: scale(0);
                transform: scale(0);
    }

    to {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
    }
}

@keyframes enter {
    from {
        -webkit-transform: scale(0);
                transform: scale(0);
    }

    to {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
    }
}

@-webkit-keyframes exit {
    from {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
    }

    to {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
}

@keyframes exit {
    from {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
    }

    to {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
}
